body {
    margin: 0;
    font-family: sans-serif;
}

#header-line {
    height: 5px;
    background-color: rgb(204, 8, 20);
}

header {
    height: 40px;
}

#logo {
    margin: 5px 15px;
}

nav {
    float: right;
    height: 20px;
    margin-top: 20px;
}

ul {
    display: inline;
}

li {
    display: inline;
    margin: 0 10px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}

a {
    all: unset;
    cursor: pointer;
}

figure {
    text-align: center;
}

#cover-img {
    width: 100%;
    max-width: 965px;
}

#boarding-pass {
    margin: 1em auto;
    width: 960px;
    height: 389px;
    background-image: url("https://res.cloudinary.com/woooanet/image/upload/v1542013672/hitachi-fingervein-fe/boardingpass.png");
    background-size: contain;
    border: 1px solid;
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-template-areas:
        "bp-left bp-right";
}

#boarding-pass-left {
    grid-area: bp-left;
    position: relative;
}

#boarding-pass-right {
    grid-area: bp-right;
    position: relative;
}

#name-left, #from-long, #flight-left, #to-long, #date, #time, #gate, #boarding-time,
#boarding-note, #name-right, #from-short, #flight-right, #to-short, #depart, #seat {
    position: absolute;
    height: 5%;
    overflow: hidden;
    box-sizing: border-box;
}

#name-left {
    width: 28%;
    top: 31%;
    left: 4%;
}

#from-long, #flight-left, #to-long, #date, #time, #gate, #boarding-time {
    width: 24%;
}

#from-long {
    top: 51%;
    left: 4%;
}

#flight-left {
    top: 51%;
    left: 33%;
}

#to-long {
    top: 51%;
    left: 67%;
}

#date {
    top: 67%;
    left: 4%;
}

#time {
    top: 67%;
    left: 33%;
}

#gate {
    top: 83%;
    left: 4%;
}

#boarding-time {
    top: 83%;
    left: 33%
}

#gate, #boarding-time, #seat {
    font-size: 2.3em;
    height: 12%;
}

#boarding-note {
    font-size: 0.7em;
    height: 24%;
    width: 22%;
    top: 63%;
    left: 66%;
    padding: 2%;
}

#name-right {
    width: 86%;
    top: 31%;
    left: 7%;
}

#from-short {
    width: 18%;
    top: 44%;
    left: 7%;
    text-align: center;
}

#flight-right {
    width: 30%;
    top: 44%;
    left: 32%;
    text-align: center;
}

#to-short {
    width: 18%;
    top: 44%;
    left: 68%;
    text-align: center;
}

#depart {
    width: 86%;
    top: 67%;
    left: 7%;
}

#seat {
    width: 33%;
    top: 83%;
    left: 52%;
}

#error, #register {
    text-align: center;
    margin: 2em;
}

footer {
    text-align: center;
    font-size: 12px;
}

#loading {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.7);
    padding: 40vh 0;
    text-align: center;
    display: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

form {
    margin: 1em auto;
    max-width: 965px;
}

#r-header, #r-footer {
    text-align: center;
}

#q-and-a {
    display: grid;
    grid-template-columns: 25fr 75fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    margin: 1em 0;
    padding: 0 10%;
}

label {
    text-align: right;
    padding: 2px;
}

input {
    font-size: inherit;
    margin: 0;
    padding: 0;
}

#template-number-input {
    cursor: not-allowed; 
}
