<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hitachi Boarding with Finger Vein</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <div id="header-line"></div>
    <div id="container">
        <header>
            <img id="logo" src="https://res.cloudinary.com/woooanet/image/upload/v1540199211/hitachi-fingervein-fe/hitachi-inspire-next-logo.png" />
            <nav>
                <ul>
                    <li>Hello, {GREETING}!</li>
                    <li><a href="{THIS_URL}/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div id="boarding-pass">
            </div>
        </main>
    </div>
    <footer>&copy; Hitachi Vantara 2018. All Rights Reserved.</footer>
</body>
</html>
