<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hitachi Boarding with Finger Vein</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script>
        function logIn () {
            alert('Close this prompt and then place your finger within 2 seconds.');
            document.getElementById('loading').style.display = 'block';
            window.location.href = '{THIS_URL}/login';
        }
    </script>
</head>
<body>
    <div id="header-line"></div>
    <div id="container">
        <header>
            <a href="/">
                <img id="logo" src="https://res.cloudinary.com/woooanet/image/upload/v1540199211/hitachi-fingervein-fe/hitachi-inspire-next-logo.png" />
            </a>
            <nav>
                <ul>
                    {NAV_PLACEHOLDER}
                </ul>
            </nav>
        </header>
        <main>
            {MAIN_PLACEHOLDER}
        </main>
    </div>
    <footer>&copy; Hitachi Vantara 2018. All Rights Reserved.</footer>
    <div id="loading">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>
